{% extends "base.html" %}
{% block content%}
<div class="accordion mt-3" id="accordionExample">
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    16 a 19
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 20 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    20 a 29
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 30 and x.edad >= 20 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    30 a 39
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 40 and x.edad >= 30 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    40 a 49
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 50 and x.edad >= 40 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    50 a 59
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 60 and x.edad >= 50 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    60 a 69
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 70 and x.edad >= 60 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    70 a 79
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 80 and x.edad >= 70 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    80 a 89
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 90 and x.edad >= 80 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    90 a 99
                </button>
            </h2>
            </div>
            {% for x in sujetos%}
                {% if x.edad < 100 and x.edad >= 90 %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p><a href="/sujetos/{{x.DNI}}">{{x.apellido}}, {{x.nombre}}</a></p>
                    </div>
                    </div> 
                {% endif %}
            {% endfor%}
        </div>
</div> 
<div class="container mt-4"><a class="btn btn-primary" href="/" role="button">Volver a inicio</a></div>
{% endblock content%}