{% extends "base.html" %}
{% block content%}
<section>
    <div class="container mt-3">
        <h4 >{{datosSujeto.apellido}}, {{datosSujeto.nombre}}</h4>
        <h5 ><strong>DNI:</strong> {{datosSujeto.DNI}}</h5>
        <h5 ><strong>Fecha de nacimiento:</strong> {{datosSujeto.fechaNac.strftime("%d")}}/{{datosSujeto.fechaNac.strftime("%m")}}/{{datosSujeto.fechaNac.strftime("%y")}}</h5>
        <h5 ><strong>Edad al momento de la evaluación:</strong> {{datosEvaluacion.datosPersonales["edad_eval"].rstrip(",00")}}</h5>
        <h5 ><strong>Sexo:</strong> {{"Masculino" if datosSujeto.sexo == "1" else "Femenino"}}</h5>
        <h5 ><strong>Años de educación al momento de evaluar:</strong> {{datosEvaluacion.datosPersonales["años_esc"]}}</h5>
        <h5 ><strong>Preferencia Manual:</strong> {{"Derecha" if datosSujeto.pmanual == "1" else "Izquierda"}}</h5>
    </div>
    <div class="container mt-4"><a class="btn btn-primary" href="/sujetos/{{datosSujeto.DNI}}" role="button">Volver a todas las evaluaciones</a></div>
    <div class="container mt-4"><a class="btn btn-primary" href="/" role="button">Volver a inicio</a></div>
</section>
{% endblock content%}