{% extends "base.html" %}
{% block content%}
    <div class="accordion" id="accordionExample"></div>
    {% for x in pruebas%}
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{x[0]}}/{{x[1]}}/{{x[2]}}
                </button>
            </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <ul>
                    {% for y in pruebas[y]%}
                        <li>{{y}}</li>
                    {% endfor%}
                </ul>
            </div>
            </div>
        </div>
        </div> 
    {% endfor %}
    <div class="container mt-4"><a class="btn btn-primary" href="/" role="button">Volver a inicio</a></div>
</section>
{% endblock content%}