{% extends "base.html" %}
{% block content%}
<div class="container">
    <div class="mt-3">
<h3>Resultados de la búsqueda</h3>
    </div>
{% if pruebas != []%}
    <div class="mt-3">
    <h4>Las siguientes evaluaciones contienen esa prueba</h3>
    <ul>
    {% for x in pruebas %}
        <li><a href="/evaluaciones/{{x.codigo}}">{{x.nombreCompleto}} ({{x.fechaEv.strftime("%x")}})</a></li>
    {% endfor %}
    </ul>
    </div>
{% endif %}
{% if sujetos != []%}
    <div class="mt-3">
        <h4>Los siguientes sujetos coinciden con ese nombre</h3>
        <ul>
        {% for x in sujetos %}
            <li><a href="/evaluaciones/{{x.codigo}}">{{x.nombreCompleto}} ({{x.fechaEv.strftime("%x")}})</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
{% if antecedentes != []%}
<div class="mt-3"></div>
    <h4>En los siguientes informes figura ese término</h3>
    <ul>
    {% for x in antecedentes %}
        <li><a href="/evaluaciones/{{x.codigo}}">{{x.nombre}} ({{x.fechaEv.strftime("%x")}})</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% if pruebas == [] and sujetos == [] and antecedentes == [] %}
<div>
    <h4>No hay resultados para esta búsqueda</h4>
</div>
{% endif %}
    <div class="container mt-4"><a class="btn btn-primary" href="/" role="button">Volver a inicio</a></div>
</div>
{% endblock content%}