{% extends "base.html" %}
{% block content%}
<section>
    <div class="container">
        <h4 >{{datos.apellido}}, {{datos.nombre}}</h4>
        <h5 ><strong>DNI:</strong> {{datos.DNI}}</h5>
        <h5 ><strong>Edad:</strong> {{datos.edad}}</h5>
        <h5 ><strong>Fecha de nacimiento:</strong> {{datos.fechaNac}}</h5>
        <h5 ><strong>Sexo:</strong> {{"Masculino" if datos.sexo == "1" else "Femenino"}}</h5>
        <h5 ><strong>Años de educación:</strong> {{datos.escolaridad}}</h5>
        <h5 ><strong>Preferencia Manual:</strong> {{"Derecha" if datos.pmanual == "1" else "Izquierda"}}</h5>
    </div>
    <div class="container"><a class="btn btn-primary" href="/" role="button">Volver a inicio</a></div>
</section>
{% endblock content%}