{% extends "base.html" %}
{% block content%}
<section>
    <div class="container mt-3">
        <h4 >{{datos.apellido}}, {{datos.nombre}}</h4>
        <h5 ><strong>DNI:</strong> {{datos.DNI}}</h5>
        <h5 ><strong>Edad:</strong> {{datos.edad}}</h5>
        <h5 ><strong>Fecha de nacimiento:</strong> {{datos.fechaNac}}</h5>
        <h5 ><strong>Sexo:</strong> {{"Masculino" if datos.sexo == "1" else "Femenino"}}</h5>
        <h5 ><strong>Años de educación:</strong> {{datos.escolaridad}}</h5>
        <h5 ><strong>Preferencia Manual:</strong> {{"Derecha" if datos.pmanual == "1" else "Izquierda"}}</h5>
    </div>
    <div class="container mt-4">
        <h4>Evaluaciones</h4>
    </div>
    <div class="accordion" id="accordionExample"></div>
    {% for x in abstractEvaluaciones%}
        <div class="card container">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{x[0]}}
                </button>
            </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <p>{{x[1]}}</p>
            </div>
            </div>
        </div>
        </div> 
    {% endfor %}
    <div class="container mt-4"><a class="btn btn-primary" href="/" role="button">Volver a inicio</a></div>
</section>
{% endblock content%}